* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FEF9EC; /* Updated background color */
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative; /* Ensures proper positioning for the logo */
}

.title-section {
    margin-bottom: 10px; /* Reduced margin */
}

.main-title {
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #1E3751;
    margin-bottom: 5px;
}

.sub-title {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #4B91D1;
    text-transform: uppercase;
    margin-top: 0; /* Remove top margin to reduce spacing */
}

h1 {
    font-family: 'Lora', serif;
    margin-bottom: 20px;
    color: #1E3751;
}

.content-section {
    text-align: left; /* Left-align content within this section */
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px; /* Smaller font size for h2 */
    color: #1E3751;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #1D58BA;
}

a:hover {
    text-decoration: underline;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    font-family: 'Inter', sans-serif; /* Changed to Inter */
    display: block;
    width: calc(50% - 10px);
    padding: 15px;
    margin: 5px 0;
    background-color: #1D58BA; /* Main button color */
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    height: 70px; /* Added height to ensure buttons are tall enough */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word; /* Ensure text breaks onto the next line */
}

.button:hover {
    background-color: #003362; /* Hover color for main buttons */
}

.button.red {
    background-color: #C00C15; /* Resource button color */
}

.button.red:hover {
    background-color: #8B0000; /* Hover color for resource buttons */
}

.home-link {
    margin-top: 20px;
}

.home-link a {
    text-decoration: underline;
    color: #4B91D1; /* Same color as the subheader */
    font-size: 16px;
}

.home-link a:hover {
    text-decoration: none;
}

.logo {
    margin-top: 20px;
    text-align: center;
}

.logo img {
    width: 100px; /* Adjust the size as needed */
}

@media (max-width: 768px) {
    .button {
        width: calc(50% - 10px);
        margin: 5px;
        height: 90px; /* Increased height for mobile to accommodate longer labels */
    }
}
